/* Set default font and background color */
:root {
  --light: #f3e2d1;
  --dark: #b4a094;
  font-family: Arial, sans-serif;
}

* {
  background-color: var(--light);
}

.nav-tabs a {
  color: #000;
}

.nav-tabs a:hover {
  color: var(--dark);
  background-color: var(--light);
}

header h1 {
  justify-content: center;
}

.page-container {
  min-height: 1vh;
}

/* Set container width and add padding */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  gap: 1rem;
  background-color: var(--light); /* set background color */
}

.btn {
  margin-top: 20px;
}

.card {
  max-width: 400px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

  /* set font color */
  color: #3e3e3e;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.card img {
  width: auto;
  height: auto;
}

.card h2 {
  margin: 1rem;
  font-size: 1.5rem;
  background-color: #fff;
}

.card p {
  margin: 1rem;
  font-size: 1rem;
  background-color: #fff;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 0;
  list-style: none;
  background-color: #fff;
}

.tags li {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: var(--dark); /* set tag background color */
  color: #fff; /* set tag font color */
  font-size: 0.8rem;
}

.card a {
  display: block;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #b4a094; /* set button background color */
  color: #fff; /* set button font color */
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.card a:hover {
  background-color: #3e3e3e; /* set button hover background color */
}

.card-desc {
  min-height: 50px;
}

footer p {
  background-color: var(--dark);
  justify-content: center;
}
/* Set footer styling */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--dark);
  color: #fff;
  padding: 20px 0;
  text-align: center;
  margin-top: 60px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

 @media screen and (max-width:1399px) {
  footer {
    bottom: -750px;
  }
}

@media screen and (max-width: 991px) {
  footer {
    bottom: -1200px;
  }
}